.app-category {
  width: 100%;
  position: relative;
  background-color: var(--primary-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &-container {
    width: 90%;
    max-width: 1500px;
    margin: 1rem auto;
    padding: 1rem 2rem !important;
    box-shadow: var(--primary-background-shadow);
    color: var(--mecci-font-color);
    border-radius: 12px;
    background-color: var(--primary-background);
    overflow-y: auto;
    flex: 1;
  }
}
