// 项目中所有的动画样式
@keyframes menuListShow {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

@keyframes breath {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3s;
  }

  100% {
    opacity: 1;
  }
}
