@import "./normalize.scss";
@import "./vars.scss";
@import "./theme.scss";

:root {
  // 字体
  --font-family-base: "PingFangSC-Regular", "Microsoft YaHei", Arial, sans-serif;
  --font-size-small: 12px;
  --font-size-normal: 14px;
  --font-size-middle: 16px;
  --font-size-large: 20px;
}

* {
  box-sizing: border-box;
}

html {
  body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: var(--font-family-base);
    font-size: var(--font-size-normal);
  }

  #root {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}