.blog.light {
  /* Text */
  --primary-text-color: #000000;
  --secondary-text-color: #585858;
  --light-text-color: #adadad;

  /* Background */
  --primary-background: #ffffff;
  --light-background: #f1f1f1;
  --page-header-background: #ffffff;
  --page-aside-background: #ffffff;

  /* Line */
  --line-color: #e1e3e7;
  --highlight-line-color: #000000;

  /* Button */
  --primary-button-background: #000000;
  --outline-button-color: #000000;
  --lowkey-button-background: #e0e0e0;
  --lowkey-button-text: #5a5a5a;

  /* Skeleton */
  --skeleton-background: #f0f0f0;
}

.blog.dark {
  /* Text */
  --primary-text-color: #b1b1b1;
  --secondary-text-color: #585858;
  --light-text-color: #656565;

  /* Background */
  --primary-background: #222222;
  --light-background: #1f1f1f;
  --page-header-background: #222222;
  --page-aside-background: #2e2e2e;

  /* Line */
  --line-color: #383838;
  --highlight-line-color: #555555;

  /* Button */
  --primary-button-background: #555555;
  --outline-button-color: #555555;
  --lowkey-button-background: #3b3b3b;
  --lowkey-button-text: #898989;

  /* Skeleton */
  --skeleton-background: #2b2b2b;
}