.nav-menu-list-item{
  padding-left: 24px;
  line-height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &-name {
    font-size: var(--font-size-middle);
    margin-left: 4px;
  }
}