.app-home {
  width: 100%;
  
  .bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #5deaf4;
    background-image: radial-gradient(closest-side, rgba(161, 196, 253, 1), rgba(161, 196, 253, 0)),
      radial-gradient(closest-side, rgba(132, 250, 176, 1), rgba(132, 250, 176, 0)),
      radial-gradient(closest-side, rgba(212, 252, 121, 1), rgba(212, 252, 121, 0)),
      radial-gradient(closest-side, rgba(253, 160, 133, 1), rgba(253, 160, 133, 0)),
      radial-gradient(closest-side, rgba(251, 194, 235, 1), rgba(251, 194, 235, 0));
    background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
      110vmax 110vmax, 100vmax 100vmax;
    background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax,
      -30vmax -10vmax, 50vmax 50vmax;
    background-repeat: no-repeat;
    animation: 15s movement linear infinite;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;

    &-container {
      display: flex;
      height: 100%;
      flex-direction: column;
      position: relative;
      align-items: center;
      justify-content: center;

      &-title {
        z-index: 2;
        font-size: var(--font-size-large);
        font-weight: 500;
        letter-spacing: 10px;
        color: transparent;
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.6), 0 4px 4px rgba(0, 0, 0, 0.05)
      }

      &-scroll-down {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        cursor: pointer;
        animation: 1.5s scrollDown linear infinite;
        user-select: none;
      }
    }
  }

  .app-main {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 40px 15px;
    background-color: var(--primary-background);

    &-container {
      width: 100%;
      max-width: 1200px;
      height: 100%;
      display: flex;

      &-left{
        width: 25%;
        height: 100%;
        padding-right: 15px;
      }

      &-right {
        width: 75%;
        height: 100%
      };
    }
  }
}

@keyframes movement {
  0% {
    background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
      110vmax 110vmax, 100vmax 100vmax;
    background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax,
      -30vmax -10vmax, 50vmax 50vmax;
  }

  25% {
    background-size: 80vmax 90vmax, 100vmax 110vmax, 90vmax 100vmax,
      90vmax 100vmax, 70vmax 90vmax;
    background-position: -70vmax -70vmax, 60vmax -50vmax, 30vmax 10vmax,
      -30vmax -20vmax, 50vmax 30vmax;
  }

  50% {
    background-size: 100vmax 100vmax, 90vmax 90vmax, 80vmax 80vmax,
      120vmax 120vmax, 80vmax 80vmax;
    background-position: -60vmax -60vmax, 50vmax -40vmax, 20vmax 0vmax,
      -20vmax -30vmax, 30vmax 40vmax;
  }

  75% {
    background-size: 50vmax 80vmax, 120vmax 100vmax, 100vmax 110vmax,
      80vmax 110vmax, 60vmax 80vmax;
    background-position: -60vmax -80vmax, 80vmax -60vmax, 40vmax 30vmax,
      -30vmax -40vmax, 60vmax 20vmax;
  }

  100% {
    background-size: 130vmax 130vmax, 80vmax 80vmax, 90vmax 90vmax,
      110vmax 110vmax, 100vmax 100vmax;
    background-position: -80vmax -80vmax, 60vmax -30vmax, 10vmax 10vmax,
      -30vmax -10vmax, 50vmax 50vmax;
  }
}

@keyframes scrollDown {
  0% {
    bottom: 20px;
    opacity: 1;
  }

  50% {
    bottom: 10px;
    opacity: 0.4;
  }

  100% {
    bottom: 20px;
    opacity: 1;
  }
}